// Styles for all of the user pages:
// Login, Signup, Support

page-user {
 ion-content{
    background: url("../assets/img/background_inicio.png") repeat center center;;

  }
  .logo {
    padding: 40px 0;
    min-height: 200px;
    text-align: center;
    img {
      max-width: 150px;
    }
  }
  .list {
  }
}
#formulario{
    padding-top: 8%;
    padding-left: 12%;
    padding-right: 12%;
  }

.botaoConfirm{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#botãoPular{
  text-align: center;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

.someDesgraça{
  ion-icon{
    background-color: white;
  }
background-color: none;
}