page-voluntário {
 	ion-content{
     background: url("../assets/img/background.png") repeat center center;
  }
}

.eventTitle{
		float: left;
		padding-left: 8px;
}

.aviso{
	margin-bottom: 8px;
}

.abrigoNome{
	float: left;
	padding-left: 4px;
	padding-top: 15px;
}