<ion-header>
  <ion-navbar no-border-bottom>
      <ion-title>Doação</ion-title>
    <button end ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider sticky color=secondary>
    <ion-label>
     <ion-icon name=information-circle></ion-icon> Iniciativas que você pode ajudar
    </ion-label>
  </ion-item-divider>
    <ion-item no-lines class="someDesgraça">
    <ion-scroll scrollX="true" swipe-horizontal>
      <button ion-button round class="scroll-item" color="primary">
          Todos
        </button>
        <button ion-button round class="scroll-item" color="primary">
          Medicamento
        </button>
        <button ion-button round class="scroll-item" color="primary">
          Alimento
        </button>
        <button ion-button round class="scroll-item" color="primary">
          Equipamentos
        </button>
        <button ion-button round class="scroll-item" color="primary">
          Higiene
        </button>
    </ion-scroll>
    </ion-item>
  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="expandItem(item)" color="primary" class="roundCoisa">
            <ion-icon name="paw" item-start></ion-icon>
          <h3>{{session.name}}</h3>
          <p>
            {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}}
          </p>
            <ion-icon name="arrow-dropdown" item-end></ion-icon>
        </button>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      Dados não encontrados
  </ion-list-header>
</ion-content>