ion-scroll[scrollX] {
  height: 60px;
  white-space: nowrap;
  overflow: hidden;

  .scroll-item {
    display: inline-block;
  }
  ::-webkit-scrollbar{
    display:none;
  }

}

.roundCoisa{
  margin-bottom: 10px;
  border-radius: 12px;
}

.someDesgraça{
background-color: rgba(0, 0, 0, 0);
}

page-donate {
 
 ion-content{
    background: url("../assets/img/background.png") repeat center center;

  }
}
