page-contato {
 ion-content{
    background: url("../assets/img/background_inicio.png") repeat center center;
  }
}
.someDesgraça{
background-color: rgba(0, 0, 0, 0);
}

.logo{
	padding: 20px 0;
    min-height: 200px;
    text-align: center;
}