page-map{
  ion-content{
    background: url("../assets/img/background.png") repeat center center;
  }
}

.botaolista{
  border-radius: 25px;
  margin-bottom: 6px;
}


.map-page{
}

.aviso{
  margin-bottom: 8px;
}


page-map #map_canvas {
  width: 100%;
  height: 100%;
  opacity: 0;
}

page-map #map_canvas.show-map {
  opacity: 1;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
