page-cartilha{
  ion-content{
    background: url("../assets/img/background.png") repeat !important;

  }
}

ion-grid{
  height: 60%;
}

ion-col{
  margin-left: 12px;
}

ion-row{
  margin-bottom: 12px;
  height: 50%;
  background-color: #5daf88;
}

.someDesgraça{
background-color: rgba(0, 0, 0, 0);
}